<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="assets/img/2E-removebg-preview.png">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="assets/css/styles.css">

        <title>Virus Hunter</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="#" class="nav__logo">The Yellow Fever</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">Website</a></li>
                        <li class="nav__item"><a href="#services" class="nav__link">Description</a></li>
                        <li class="nav__item"><a href="#play" class="nav__link">Download</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact us</a></li>

                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

               <div class="nav__toggle" id="nav-toggle">
                   <i class='bx bx-menu'></i>
               </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">Wow</h1>
                        <h2 class="home__subtitle">Discover the<br> Virus Hunter game</h2><br>By VirusKenner
                    </div>
    
                    <img src="assets/img/2E-removebg-preview.png" alt="" class="home__img">
                </div>
            </section>
            
            <!--========== ABOUT ==========-->
            <section class="about section bd-container" id="about">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="section-subtitle about__initial">Website</span>
                        <h2 class="section-title about__initial">Have you already <br> visited our site?</h2>
                        <p class="about__description">No... What are you waiting for, go to see it now</p>
                        <a href="http://yellowfever.rf.gd" class="button">Start now</a>
                    </div>

                    <img src="assets/img/Zanzara2.jpg" alt="" class="about__img">
                </div>
            </section>

            <!--========== SERVICES ==========-->
            <section class="services section bd-container" id="services">
                <span class="section-subtitle">Description of our game</span>
                <h2 class="section-title">Virus Hunter</h2>

                <div class="services__container  bd-grid">

                    <div class="services__content">
                      
                        <h3 class="services__title">Description</h3>
                        <p class="services__description">Hey, this is our videogame: Virus Hunter
        To go to the download, click on the button below, and download the zip file from drive. Didn't you how to play yet? It's very easy!
        Your objective is destroying all the viruses in the map, to pass to the next level, or you can just select the level that you prefer in the menu.
        To play the game, once you have downloaded the zip file, extract it and put the folder on your desktop and run the Virus Hunter.exe file.
        If you enjoy the game, leave a comment a and write what would you like to see in the future inside the game.
        I suggest you to visit our website about yellow fever, it'll explain a lot of things about this virus, it's interesting, but now stop talking!
        Come on, download this videogame!</p>
</div>
                    </div>
                  
                </div>
            </section>


            <!--===== APP =======-->
            <section class="app section bd-container" id="play">
                <div class="app__container bd-grid">
                    <div class="app__data">
                        <span class="section-subtitle app__initial">The videogame</span>
                        <h2 class="section-title app__initial">Haven't downloaded our game yet?</h2>
                        <p class="app__description"> <br> Now only on PC and MACs,offline and online, but we are already working to bring it to other platforms </p>
                        <div class="download">
                            <a href="Altre pagine/download.html"><img
src="assets/img/download-button.png" alt="" class="download"  >                    
                            </a>
                        

                        </div>
                    </div>

                    <img src="assets/img/e86e376c-eb04-4aa6-a43c-8810cbe2b410_FPS_AssetStore_Brainroom_with_Gun.jpg" alt="" class="app__img">
                </div>
            </section>


            <!--========== CONTACT US ==========-->
            <section class="contact section bd-container" id="contact">
                <div class="contact__container bd-grid">
                    <div class="contact__data">
                        <span class="section-subtitle contact__initial">Let's talk</span>
                        <h2 class="section-title contact__initial">Contact us</h2>
                        <p class="contact__description">Questions?</p>
                    </div>

                    <div class="contact__button">
                        <a href="mailto:viruskenneritt@gmail.com" class="button">Contact us now</a><br>
                    </div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        <footer class="footer section bd-container">
            <p class="footer__copy">&#169; 2022 2E ITT TRENTO. All rights reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="assets/js/main.js"></script>

    </body>
</html>