<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="assets/img/2E-removebg-preview.png">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>The Yellow Fever</title>
    </head>
    <body>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon'></i>
        </a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="index.html" class="nav__logo">The Yellow Fever</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="index.html" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#def" class="nav__link">Windows</a></li>
                        <li class="nav__item"><a href="#sym" class="nav__link">Mac</a></li>
                        <li class="nav__item"><a href="#vac" class="nav__link">Android</a></li>
                        <li class="nav__item"><a href="#time" class="nav__link">WebGL</a></li>

                        <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <h1 class="home__title">Welcome!</h1>
                        <h2 class="home__subtitle">Ready to download<br> the game?</h2><br>By VirusKenner
                    </div>
    
                    <img src="assets/img/2E-removebg-preview.png" alt="" class="home__img">
                </div>
            </section>
             <!--========== ABOUT ==========-->
             <section class="about section bd-container" id="def">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="home__title"><b>Windows</b></span>
                        <p class="about__description_def">Windows version: 1.0
                            
                            </p>
                      <a href=""><img src="../assets/img/download-button.png" alt="" class="download"  >                    
                            </a>
                    </div>

                    <img src="../assets/img/Windows.png" alt="" class="about__img">
                </div>
            </section>
            <!--========== ABOUT ==========-->
            <section class="about section bd-container" id="sym">
                <div class="about__container  bd-grid">
                    <div class="about__data">
                        <span class="home__title"><b>Mac</b></span>
                        <p class="about__description_def">Mac version: 1.0
                           </p>
                      <a href=""><img
src="../assets/img/download-button.png" alt="" class="download"  >                    
                            </a>
                            
                  
                    </div>

                    <img src="../assets/img/apple.png" alt="" class="about__img">
                </div>
            </section>

           <!--========== ABOUT ==========-->
           <section class="about section bd-container" id="vac">
            <div class="about__container  bd-grid">
                <div class="about__data">
                    <span class="home__title"><b>Android</b></span>
                    <p class="about__description_def">Oops…there isn't any game! Just for now, because the game for Android is under development, to allow you to play at your favorite game on your mobile device, come back when there'll be the opportunity to download the game.
        In the meantime, if you don't know what to do, visit our website, or take a pc and download the game on that device.
                        </p>
                </div>

                <img src="../assets/img/android.png" alt="" class="about__img">
            </div>
        </section>

<!--========== ABOUT ==========-->
<section class="about section bd-container" id="time">
    <div class="about__container  bd-grid">
        <div class="about__data">
            <span class="home__title"><b>WebGL</b></span>
            <p class="time__description_def">You can't download your game, but don't worry. We've thought at all. Indeed you can found a button below that'll take you to the online game. Obviously I want to remember you that the game is available only for PC. (Only for now)
              The first button will open the game in another tab while the second will open it in another site
         After trying the game, I suggest you to visit our website.
         If you have problems with the pointer during the game we recommend that you pause and resume
         I've forgotten to tell you: "Leave a comment, and write what would you like to see in the future inside the game"
             
                </p>
          <a href="gioco.html" target="_blanck"><img
src="../assets/img/play.png" alt="" class="download"  >                    
                            </a>
          <a href="https://i.simmer.io/@Tekia2026/virus-hunter"><img
src="../assets/img/play.png" alt="" class="download"  >                    
                            </a>

        </div>
        <img src="../assets/img/html5.png" alt="" class="about__img">

    </div>
</section>
          
        <footer class="footer section bd-container">
            <p class="footer__copy">&#169; 2022 2E ITT TRENTO. All rights reserved</p>
        </footer>

        <!--========== SCROLL REVEAL ==========-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--========== MAIN JS ==========-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>